<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Trip Planner</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper" id="app">
            <div class="one holder headline">
                <h1>Trip Planner</h1>
            </div>
            <div class="two holder details">
                <label class="heading" for="place">Enter A Place Name:</label>
                <input class="myInput" type="text" id="place" name="place" placeholder="London"><br>
                <label class="heading" for="date">Departure Date:</label>
                <input class="myInput" type="date" id="departure-date" min="" max="" name="departure-date"><br>
                <label class="heading" for="date">Return Date:</label>
                <input class="myInput" type="date" id="return-date" min="" max="" name="return-date"><br>
                <input type="submit" id="search" value="Submit">
            </div>

            <div class="three holder output">
                <div class="heading title">Most Recent Entry:</div>
                <div id="entryHolder">
                    <!-- Data placeholder -->
                    <div id="countdown"></div> 
                    <div id="countryName"></div>
                    <div id="weather"></div>
                    <div id="temperature"></div>
                    <div id="forecast-weather"></div>
                    <div id="forecast-temperature"></div>
                    <img id="place-image" src="">
                    <!-- Error placeholder -->
                    <div id="errorMsg"></div>
                </div>
            </div>
        </div>

        <script>
            // Check that service workers are supported
            if('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>