html {
    font-size: 16px;
}

body {
    text-align: center;

    margin: 0 auto;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    background-color: #f4f1de;
    color: #f4f1de;
}

body, .myInput, input[type=submit] {
    font-family: 'Staatliches', cursive;
}

.wrapper {
    display: grid;
    grid-column: 1;
    margin: 0 auto;
}

.one {
    background-color: #3d405b;
    padding: 5% 0;
    font-size: 1.4rem;
}

.two {
    background-color: #e07a5f;
    padding: 5% 10%;
    font-size: 1.2rem;
}

.three {
    background-color: #81b29a;
    padding: 5% 0;
    font-size: 1.2rem;
}

.heading {
    font-size: 1.5rem;
}

label {
    display: block;
}

.myInput {
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    padding: 0.5rem;
    border-style: none;
    letter-spacing: 0.1rem;
    &:hover {
        box-shadow: 0px 0px 2.5px 2.5px #736f4e;
    }
}

input[type=submit] {
    width: 60%;
    font-size: 1.2rem;
    background-color: #736f4e;
    color: #f4f1de;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    border-style: none;
    &:hover {
        color: #000;
    }
}

#entryHolder {
    min-height: 10rem;
    color: #3d405b;
}

.hide {
    display: none;
}

.responsive {
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        max-width: 650px;
    }
  }